<section class="section has-text-white has-text-centered">
  <h2 class="is-size-4 has-text-weight-bold">Favoritos</h2>
  <br />
  
  <%= render "shared/tabs", artists: @favorite_artists, songs: @favorite_songs, albums: @favorite_albums %>
</section>