div.song-item {
  border-top: 1px solid $white;
  
  div.play-button {
    margin-top: 12px;
  }

  div.favorite {
    margin-top: 10px;
  }

  &:first-child {
    border-top: none;
  }

  &.playing {
    color: $primary;
  }
}