<% if user_signed_in? %>  
  <nav class="columns is-mobile is-dark navbar is-fixed-bottom toolbar">
    <div class="column has-text-centered">
      <%= link_to "", class: "has-text-white" do %>
        <i class="fa fa-home fa-lg"></i>
      <% end %>
    </div>

    <div class="column has-text-centered">
      <%= link_to "", class: "has-text-white" do %>
        <i class="fa fa-search fa-lg"></i>
      <% end %>
    </div>

    <div class="column has-text-centered">
      <%= link_to "", class: "has-text-white" do %>
        <i class="fas fa-heart fa-lg"></i>
      <% end %>
    </div>
  </nav>
<% end %>