<section class="hero is-dark is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title has-text-weight-light">
        SEU APP DE <br />
        <span class="has-text-primary">MÚSICA</span>
      </h1>
      <br />
      <h2 class="subtitle has-text-weight-light white">
        Álbuns • Lançamentos<br />
        Mais tocadas • Recomendadas
      </h2>
      <br /><br />
      <%= link_to "CADASTRAR AGORA", new_user_registration_path, class: "button is-medium is-outlined is-primary" %>
    </div>
  </div>
</section>