<div class="column is-half-mobile is-one-quarter-desktop">
  <%= image_tag url_for(album.cover) %>
  <p class="is-size-6 has-text-weight-semibold"><%= album.title %></p>
  <p class="is-size-7"><%= album.artist.name %></p>
</div>