<section class="section has-text-white">
  <div class="columns has-text-centered">
    <div class="column is-half-mobile is-offset-one-quarter-mobile is-2-desktop is-offset-5-desktop">
      <%= image_tag url_for(@album.cover) %>
      <p class="is-size-6 has-text-weight-semibold"><%= @album.title %></p>
    </div>
  </div>

  <br />

  <h2 class="is-size-5 has-text-weight-bold">Músicas</h2>

  <br />

  <div class="columns is-multiline songs has-text-centered">
    <div class="column is-12">
      <button id="play-all" class="button is-primary is-medium">
        <span class="icon"><i class="fas fa-play-circle"></i></span> 
        <span>Tocar Todas</span>
      </button>
    </div>
    <%= render @album.songs %>
  </div>
</section>