<section class="section has-text-white has-text-centered categories">
  <h2 class="is-size-3 has-text-weight-bold"><%= @category.name %></h2>
  <br />
  
  <%= render "shared/tabs", artists: @category.artists, songs: @category.songs, albums: @category.albums %>
</section>